<a href="https://colab.research.google.com/github/Sanjanaredddyy/python-programs/blob/main/day11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
k = sns.get_dataset_names()

In [4]:
pd.Series(k)

0           anagrams
1           anscombe
2          attention
3     brain_networks
4        car_crashes
5           diamonds
6               dots
7           dowjones
8           exercise
9            flights
10              fmri
11            geyser
12              glue
13         healthexp
14              iris
15               mpg
16          penguins
17           planets
18            seaice
19             taxis
20              tips
21           titanic
dtype: object

In [5]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [9]:
a=np.random.randint(20,50, size=(5,4))
a

array([[38, 22, 22, 36],
       [35, 26, 25, 40],
       [21, 33, 27, 37],
       [45, 24, 43, 22],
       [46, 30, 20, 34]])

In [10]:
a.ndim

2

In [15]:
pd.Series(a)

ValueError: Data must be 1-dimensional, got ndarray of shape (5, 4) instead

In [13]:
pd.DataFrame(a)

    0   1   2   3
0  38  22  22  36
1  35  26  25  40
2  21  33  27  37
3  45  24  43  22
4  46  30  20  34